body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-weight: lighter;
}

input{
    padding: 6px 40px 6px 4px;
    margin: 12px;
}

.btn{
    margin-left: 20px ;
}

.clr{
    margin-top: 20px;
    width: 200px;
    margin-left: 12px; 
}
